.action-picker {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.action-picker-sub {
  position: absolute;
  bottom: 25px;
  right: 25px;
  min-width: 46px;
  width: 46px;
  height: 46px;
}
