@import "compass";

@import "config/colors";
@import "mixins/*";
@import "modules/**/*";
@import "helpers/helpers";
@import "components/list";
@import "components/buttons";
@import "components/textfield";
@import "components/login";
@import "components/pages/create-session";
@import "components/pages/add-player";
@import "components/pages/home";

body {
  background-color: $white;
  color: $black;
}
a {
  text-decoration: none;
  color: $color-links;
}
.page {
  padding: 24px 24px 0 24px;
}
.mdl-layout__header {
  z-index: 1;
}
#login-buttons {
  .login-link-and-dropdown-list {
    .login-link-text {
      text-decoration: none;
      color: $white;
    }
    #login-dropdown-list {
      left: auto;
      right: 0;
    }
  }
}
