._center {
  text-align: center !important; }

.player-list {
  list-style: none;
  padding: 0; }
  .player-list li {
    height: 50px;
    position: relative; }
    .player-list li:nth-child(odd) {
      background-color: #e6e6e6; }
    .player-list li.player {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-items: center;
      align-items: center;
      font-size: 26px; }
      .player-list li.player > .name {
        -webkit-flex: 1 100%;
        flex: 1 100%;
        padding-left: 20px; }
      .player-list li.player > .icon {
        -webkit-flex: 0 0 50px;
        flex: 0 0 50px; }
        .player-list li.player > .icon i {
          vertical-align: middle;
          font-size: 1.4em; }

.button-container {
  text-align: center; }

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px; }

@media (max-width: 479px) {
  .mdl-cell--1-col, .mdl-cell--1-col-phone.mdl-cell--1-col-phone {
    width: calc(33.33% - 16px); } }

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  .login-container > .login {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 208px;
    margin: auto;
    margin-left: 100px; }
    .login-container > .login > #login-buttons > .login-link-and-dropdown-list > .login-link-text {
      color: black; }

.add-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(50% - 33px); }

.layout-mask {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 11;
  height: 100%;
  background-color: #000;
  opacity: 0.8 !important;
  pointer-events: auto; }

.overlay {
  position: relative;
  height: 200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e6e6;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 12; }
  @media (max-width: 500px) {
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; } }
  .overlay > .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red; }

.page-home > .notification {
  margin-bottom: 20px; }
  .page-home > .notification span {
    display: block;
    text-align: center; }

.page-ranking {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  .page-ranking > .mdl-card {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center; }
    .page-ranking > .mdl-card > .main-info {
      -webkit-flex: 1 60%;
      flex: 1 60%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      border-right: 1px solid gainsboro; }
      .page-ranking > .mdl-card > .main-info > .title {
        -webkit-flex: 1 60%;
        flex: 1 60%; }
        .page-ranking > .mdl-card > .main-info > .title div {
          font-size: 1.4em; }
      .page-ranking > .mdl-card > .main-info > .sub-item {
        -webkit-flex: 1 20%;
        flex: 1 20%; }
        .page-ranking > .mdl-card > .main-info > .sub-item div {
          font-size: 1.2em; }
          .page-ranking > .mdl-card > .main-info > .sub-item div span {
            display: block;
            line-height: 3em; }
    .page-ranking > .mdl-card > .sub-info {
      -webkit-flex: 1 40%;
      flex: 1 40%;
      height: 100%;
      text-align: center;
      font-size: 3em; }

.mdl-card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  .mdl-card .top {
    -webkit-flex: 0 0 30px;
    flex: 0 0 30px;
    font-size: 1.5rem;
    padding-top: 5px;
    border-bottom: 1px solid gainsboro; }
  .mdl-card .bottom {
    -webkit-flex: 1 100%;
    flex: 1 100%;
    display: -webkit-flex;
    display: flex; }
    .mdl-card .bottom .left {
      -webkit-flex: 1;
      flex: 1;
      display: -webkit-flex;
      display: flex;
      border-right: 1px solid gainsboro; }
      .mdl-card .bottom .left > .winner-info {
        -webkit-flex: 1 70%;
        flex: 1 70%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        border-right: 1px solid gainsboro; }
        .mdl-card .bottom .left > .winner-info > .title {
          -webkit-flex: 0 0 50px;
          flex: 0 0 50px;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          width: 100%;
          font-size: 1.8rem;
          border-bottom: 1px solid gainsboro; }
          .mdl-card .bottom .left > .winner-info > .title span {
            height: 100%;
            width: 100%;
            -webkit-align-self: center;
            align-self: center; }
        .mdl-card .bottom .left > .winner-info > .player {
          -webkit-flex: 1 100%;
          flex: 1 100%;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          width: 100%;
          font-size: 1.6rem; }
          .mdl-card .bottom .left > .winner-info > .player span {
            height: 100%;
            width: 100%;
            -webkit-align-self: center;
            align-self: center; }
      .mdl-card .bottom .left > .winner-score {
        -webkit-flex: 1 30%;
        flex: 1 30%;
        -webkit-align-self: center;
        align-self: center;
        padding: 5px;
        font-size: 2rem; }
    .mdl-card .bottom .right {
      -webkit-flex: 1;
      flex: 1;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column; }
      .mdl-card .bottom .right > .player-record {
        -webkit-flex: 1;
        flex: 1;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        border-bottom: 1px solid gainsboro; }
        .mdl-card .bottom .right > .player-record > .name {
          -webkit-flex: 1 100%;
          flex: 1 100%;
          text-align: left;
          padding-left: 10px; }
        .mdl-card .bottom .right > .player-record > .score {
          -webkit-flex: 0 0 50px;
          flex: 0 0 50px;
          padding-right: 10px;
          text-align: right; }

.mdl-card {
  width: auto; }

html {
  font-size: 18px; }
  @media (max-width: 1400px) {
    html {
      font-size: 18px; } }
  @media (max-width: 1200px) {
    html {
      font-size: 16px; } }
  @media (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media (max-width: 500px) {
    html {
      font-size: 12px; } }

body {
  background-color: #fff;
  color: #000; }

a {
  text-decoration: none;
  color: #000; }

.page {
  padding: 24px 24px 0 24px; }

.mdl-layout__header {
  z-index: 1; }

#login-buttons .login-link-and-dropdown-list .login-link-text {
  text-decoration: none;
  color: #fff; }

#login-buttons .login-link-and-dropdown-list #login-dropdown-list {
  left: auto;
  right: 0; }
