._center {
  text-align: center !important; }

.player-list {
  list-style: none;
  padding: 0; }
  .player-list li {
    height: 50px;
    position: relative; }
    .player-list li:nth-child(odd) {
      background-color: #e6e6e6; }
    .player-list li.player {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-items: center;
      align-items: center;
      font-size: 26px; }
      .player-list li.player > .name {
        -webkit-flex: 1 100%;
        flex: 1 100%;
        padding-left: 20px; }
      .player-list li.player > .icon {
        -webkit-flex: 0 0 50px;
        flex: 0 0 50px; }
        .player-list li.player > .icon i {
          vertical-align: middle;
          font-size: 1.4em; }

.button-container {
  text-align: center;
  margin-bottom: 20px; }

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px; }

@media (max-width: 479px) {
  .mdl-cell--1-col, .mdl-cell--1-col-phone.mdl-cell--1-col-phone {
    width: calc(33.33% - 16px); } }

.login-container {
  position: absolute;
  text-align: center;
  margin: auto;
  top: calc(50% - 185px);
  left: calc(50% - 185px);
  padding: 10px;
  width: 350px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .login-container > .switch {
    color: #666;
    text-decoration: underline;
    display: block; }
  .login-container > .mdl-button {
    margin-top: 20px; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 10%;
  height: auto;
  width: 80%;
  padding: 20px 10px 20px 10px;
  background-color: #e6e6e6;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 12; }
  @media (max-width: 500px) {
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; } }
  .overlay > .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #B50101; }

.layout-mask {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 11;
  height: 100%;
  background-color: #000;
  opacity: 0.8 !important;
  pointer-events: auto; }

.action-picker {
  position: absolute;
  bottom: 1.4em;
  right: 1.4em;
  z-index: 1; }
  .action-picker > .action-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto; }
    .action-picker > .action-container i[class^='icon-i']::before {
      vertical-align: text-top; }
    .action-picker > .action-container.sub {
      margin-bottom: 0.7em;
      margin-right: 0.4em; }
    .action-picker > .action-container .main-action {
      z-index: 2; }
    .action-picker > .action-container .sub-action {
      min-width: 1.9em;
      width: 1.9em;
      height: 1.9em; }
    .action-picker > .action-container > .action-label {
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -ms-border-radius: 0.5em;
      -o-border-radius: 0.5em;
      border-radius: 0.5em;
      position: absolute;
      bottom: calc(50% - 10px);
      right: 4.5em;
      white-space: nowrap;
      background-color: #000;
      color: #fff;
      height: 1.5em;
      line-height: 1.5em;
      padding: 0 10px;
      opacity: 0; }

.page-home > .message {
  margin-bottom: 20px; }
  .page-home > .message span {
    display: block;
    text-align: center; }

.page-sessions .mdl-card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  .page-sessions .mdl-card .top {
    -webkit-flex: 0 0 30px;
    flex: 0 0 30px;
    font-size: 1.5rem;
    padding-top: 5px;
    border-bottom: 1px solid gainsboro; }
    .page-sessions .mdl-card .top > .title {
      margin-left: auto;
      margin-right: auto; }
  .page-sessions .mdl-card .bottom {
    -webkit-flex: 1 100%;
    flex: 1 100%;
    display: -webkit-flex;
    display: flex; }
    .page-sessions .mdl-card .bottom .left {
      -webkit-flex: 1;
      flex: 1;
      display: -webkit-flex;
      display: flex;
      border-right: 1px solid gainsboro; }
      .page-sessions .mdl-card .bottom .left > .winner-info {
        -webkit-flex: 1 70%;
        flex: 1 70%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        border-right: 1px solid gainsboro; }
        .page-sessions .mdl-card .bottom .left > .winner-info > .title {
          -webkit-flex: 0 0 50px;
          flex: 0 0 50px;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          width: 100%;
          font-size: 1.8rem;
          border-bottom: 1px solid gainsboro; }
          .page-sessions .mdl-card .bottom .left > .winner-info > .title span {
            height: 100%;
            width: 100%;
            -webkit-align-self: center;
            align-self: center; }
        .page-sessions .mdl-card .bottom .left > .winner-info > .player {
          -webkit-flex: 1 100%;
          flex: 1 100%;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          width: 100%;
          font-size: 1.6rem; }
          .page-sessions .mdl-card .bottom .left > .winner-info > .player span {
            height: 100%;
            width: 100%;
            -webkit-align-self: center;
            align-self: center; }
      .page-sessions .mdl-card .bottom .left > .winner-score {
        -webkit-flex: 1 30%;
        flex: 1 30%;
        -webkit-align-self: center;
        align-self: center;
        padding: 5px;
        font-size: 2rem; }
    .page-sessions .mdl-card .bottom .right {
      -webkit-flex: 1;
      flex: 1;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column; }
      .page-sessions .mdl-card .bottom .right > .player-record {
        -webkit-flex: 1;
        flex: 1;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        border-bottom: 1px solid gainsboro; }
        .page-sessions .mdl-card .bottom .right > .player-record > .name {
          -webkit-flex: 1 100%;
          flex: 1 100%;
          text-align: left;
          padding-left: 10px; }
        .page-sessions .mdl-card .bottom .right > .player-record > .score {
          -webkit-flex: 0 0 50px;
          flex: 0 0 50px;
          padding-right: 10px;
          text-align: right; }

.mdl-card {
  width: auto;
  position: relative;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .mdl-card > .top-section {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1 80%;
    flex: 1 80%;
    width: 100%; }
    .mdl-card > .top-section > .main-info {
      -webkit-flex: 1 60%;
      flex: 1 60%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      border-right: 1px solid gainsboro; }
      .mdl-card > .top-section > .main-info > .title {
        -webkit-flex: 1 60%;
        flex: 1 60%; }
        .mdl-card > .top-section > .main-info > .title div {
          font-size: 1.4em; }
      .mdl-card > .top-section > .main-info > .sub-item {
        -webkit-flex: 1 20%;
        flex: 1 20%; }
        .mdl-card > .top-section > .main-info > .sub-item div {
          font-size: 1.2em; }
          .mdl-card > .top-section > .main-info > .sub-item div span {
            display: block;
            line-height: 3em; }
    .mdl-card > .top-section > .sub-info {
      -webkit-flex: 1 40%;
      flex: 1 40%;
      height: 100%;
      text-align: center;
      font-size: 2em; }
      .mdl-card > .top-section > .sub-info > .negative {
        color: red; }
      .mdl-card > .top-section > .sub-info > .positive {
        color: green; }
  .mdl-card > .bottom-section {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1 20%;
    flex: 1 20%;
    border-top: 1px solid gainsboro;
    width: 100%; }
    .mdl-card > .bottom-section > .point-list {
      display: -webkit-flex;
      display: flex;
      -webkit-flex: 0 100%;
      flex: 0 100%;
      padding: 0 10px 0 10px; }
      .mdl-card > .bottom-section > .point-list > .item {
        -webkit-flex: 0 15%;
        flex: 0 15%; }

html {
  font-size: 18px; }
  @media (max-width: 1400px) {
    html {
      font-size: 18px; } }
  @media (max-width: 1200px) {
    html {
      font-size: 16px; } }
  @media (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media (max-width: 500px) {
    html {
      font-size: 12px; } }

body {
  background-color: #F5F5F5;
  color: #000; }

a {
  text-decoration: none;
  color: #666; }

.page {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 24px 0 24px; }

.mdl-layout__header {
  z-index: 1; }
